@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

:root {
  /* Neutral */
  --primary-color: #ffffff;
  --secondary-color: #f2f2f7;
  --tertiary-color: #e4e4ef;
  --text-color: #12131a;
  --heading-color: #12131a;

  /* Accent colors */
  --accent-purple: #c27cf8;
  --accent-purple-light: #d3a0fa;
  --accent-orange: #ff9f00;
  --accent-red: #fe8159;
  --accent-red-dark: #fe8159;

  /* Gray / Border */
  --light-gray: #e4e4ef;
  --gray: #f2f2f7;

  /* Text */
  --text-white: #ffffff;
  --text-black: #12131a;
}

.dark-mode-logo {
  display: none;
}

body.dark-mode .light-mode-logo {
  display: none;
}
body.dark-mode .dark-mode-logo {
  display: inline;
}

body.light-mode {
  background-color: var(--primary-color);
  background-image: url("../assets/bg-light-theme.png");
  background-size: cover;
  background-position: center;
}

body.dark-mode {
  --primary-color: #12131a;
  --secondary-color: #21222c;
  --tertiary-color: #2a2b37;
  --text-color: #ffffff;
  --heading-color: #ffffff;

  /* Accent colors */
  --accent-purple: #c27cf8;
  --accent-purple-light: #d3a0fa;
  --accent-orange: #ff9f00;
  --accent-red: #fe8159;
  --accent-red-dark: #fe8159;

  /* Gray / Border */
  --light-gray: #404254;
  --gray: #21222c;

  /* Text */
  --text-white: #ffffff;
  --text-black: #12131a;
  background-color: var(--primary-color);
  background-image: url("../assets/bg-dark-theme.png");
  background-size: cover;
  background-position: center;
}

/* hidden */
.display-none {
  display: none;
}
/* nav */
.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.theme-container {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

div img {
  cursor: pointer;
}

/* main-content wrapper */
.main-content-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

/* main title */

.main-title_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title h2 {
  margin: 3.1rem auto;
  text-align: center;
  color: var(--heading-color);
  font-size: 4.3rem;
  font-weight: bold;
}

/* input container */
.main-container {
  display: flex;
  margin: 15px 15px;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
}

.main-container_box {
  width: 100%;
  max-width: 900px;
}

textarea::placeholder {
  color: var(--text-color);
}

textarea:focus {
  outline: 2px solid var(--accent-purple-light);
}

.main-container_box textarea {
  width: 100%;
  height: 150px;
  padding: 20px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  color: var(--text-color);
  background-color: var(--tertiary-color);
}

/* warning-container */

.warning-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}

.warning-container p {
  color: var(--accent-red);
  font-size: 0.7rem;
  line-height: 130%;
  font-weight: 200;
  margin: 0;
}

.warning-container img {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}

/* text-filter */
.text-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.checkbox-wrapper {
  display: flex;
  gap: 0.5rem;
}

.mini-title {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 130%;
  font-weight: 200;
}

.form-check-input {
  cursor: pointer;
  margin-right: 10px;
  background-color: var(--secondary-color) !important;
}

.form-check-input:checked {
  background-color: var(--accent-purple) !important;
  border-color: var(--accent-purple) !important;
}

.form-check-input:focus {
  box-shadow: none;
}
.input-style {
  width: 60px;
  height: 25px;
  background-color: var(--secondary-color);
  font-size: 0.7rem;
  text-align: center;
  color: var(--text-white);
  border: 1px solid var(--light-gray);
  border-radius: 6px;
  font-weight: 300;
  padding: 0.25rem 0.5rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* static-section */

.static-box {
  padding: 1rem;
  padding-bottom: 1rem;
  border-radius: 16px;
  border: 1px solid var(--white);
  margin: 2.5rem auto;
  border: none;
}

.static-heading {
  font-size: 2.5rem;
  line-height: 100%;
  font-weight: bold;
  color: var(--text-black);
}

.static-paragraph {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 130%;
  font-weight: 300;
  color: var(--text-black);
}
.box-1 {
  background-image: url("../assets/pattern-character-count.svg");
  background-size: 130px auto;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: var(--accent-purple);
}

.box-2 {
  background-image: url("../assets/pattern-word-count.svg");
  background-size: 130px auto;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: var(--accent-orange);
}

.box-3 {
  background-image: url("../assets/pattern-sentence-count.svg");
  background-size: 130px auto;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: var(--accent-red);
}

/* Letter section */
.letter-container_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.letter-heading {
  color: var(--heading-color);
  font-size: 1.5rem;
  line-height: 130%;
  font-weight: 200;
}

.progress-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.progress-container > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

.progress-box {
  width: 100%;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--secondary-color);
  height: 10px;
  border-radius: 30px;
}

.progress-line {
  width: 40%;
  background-color: var(--accent-purple);
  height: inherit;
  border-radius: inherit;
}

.progress-title {
  color: var(--text-color);
  line-height: 130%;
  font-weight: 200;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.btn-see {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 130%;
  font-weight: 200;
  margin-top: 1.25rem;
  cursor: pointer;
}

/* responsive */

@media (max-width: 600px) {
  .text-filter {
    flex-direction: column;
    align-items: flex-start;
  }

  .checkbox-wrapper {
    flex-direction: column;
    gap: 0.25rem;
  }
}
